<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Oops!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="../transitions.css">
    <script src="../transitions.js"></script>
</head>
<body>
    <div class="container transition-fade">
        <h1 class="text"><%= message %></h1>
        <p class="status-code"><%= statusCode %></p>
        <p class="text"><%= userMessage %></p>
        <p class="text"><%= developerMessage %></p>
    </div>
</body>
</html>
