<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="text">Hello, <%= name %>!</h1>
        <p class="text">Your email: <%= email %></p>

        <div class="buttons">
            <button id="signOut">Sign Out</button>
        </div>

        <div class="error-message">
            <p id="errorText"></p>
        </div>
    </div>
</body>
</html>
